body {
	background-color: rgb(211, 206, 196);
	display: flex;
}

main {
	background-color: white;
	width: 1250px;
	border: 8px solid #000000;
	height: 647px;
	margin: auto;
}

#profile_pic {
	float: right;
}
.writing {
	float: left;
	padding: 170px 119px;
}
h1 {
	font-size: 4.5em;	
	font-family: "freestyle script", Arial, sans-serif;
	text-emphasis: bold;
	text-align: center;
	line-height: 0em;
}
h2 {
	font-size: 1.6em;
	font-family: Arial, sans-serif;
	text-align: center;
	line-height: 0em;
}
#main-nav	{
	font-size: 1.75em;	
	color: black;
	font-family: "freestyle script",Arial, sans-serif;
	font-weight: bolder;
	text-align: center;
}

#main-nav li:visited,
#main-nav li{
	text-decoration: none;
	color: black;
	list-style: none;
}
#main-nav li:hover,
#main-nav li:focus,
#main-nav li:active {
	text-decoration: underline;
}

#work-content {
	background-color: white;
	border: 8px solid black;
	padding-top: 20px;
}
#work-content p {
	text-indent: 50px;
}
#work-paragraphs {
	padding: 20px;
	margin: auto 150px 0px 150px;
}
#work-paragraphs li {
	text-align: center;
	list-style: none;
	padding-left: 75px;
}